.table{
	width: 200px;
	border: 5px solid grey;
	float: left;
	margin: 20px;
	padding: 2px;
	background-color: white;
}

.tbl_header {
	font-weight: bold;
	margin: 0px auto;
	padding: 7px;
	background-color: orange;
	cursor: move;
}

.tbl_fields {
	padding: 5px;
	background-color: white;
}

.fields {
	margin-bottom: 3px;
	padding: 5px;
	cursor: move;
	border: 1px solid lightgray;
	z-index: 2;
	background-color: white;
}

.active_table{
	border: 5px solid Orangered;
}

.active_field{
	background-color: Orangered;
}

.flag {
  width: 100%;
  background-color: #BADB11;
  padding: 7px;
  text-align: center;
}

#form_container {
  width: 100%;
  padding: 20px;
  border: 1px solid grey;
  background-color: ghostwhite;
  height: 160px;
}

.hover_field{
	border: 2px solid #BADA55;
	background-color: #BADA55;
}

.hover_table{
	border: 5px solid orange;
}

#db{
	width: 200px;
}

#query_string {
  width: 57%;
  height:80px;
    
}
.databases {
    float: left;
    margin-right: 30px;
}
